<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391644479327-0gu7ogr83bgjtn8gbmgv53kf6dp0v2lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391644479327-0gu7ogr83bgjtn8gbmgv53kf6dp0v2lk</string>
	<key>API_KEY</key>
	<string>AIzaSyDX068yIPPRLlM28iICTDqi7rDxZ0iSX9o</string>
	<key>GCM_SENDER_ID</key>
	<string>391644479327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosdecal.Safe2HomeIOS</string>
	<key>PROJECT_ID</key>
	<string>safe2home-e78e3</string>
	<key>STORAGE_BUCKET</key>
	<string>safe2home-e78e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391644479327:ios:e0a4848b51b1baf7</string>
	<key>DATABASE_URL</key>
	<string>https://safe2home-e78e3.firebaseio.com</string>
</dict>
</plist>
